<br />
<div class="container">
	<div class="col-md-6">
		<div class="panel-body">
			<h4 style="color: #7EB59E; margin: initial; margin-bottom: 10px;">Update User details</h4>
			<div class="panel-body">
				<form accept-charset="UTF-8" role="form">
					<fieldset>
						<div class="form-group">
							<div class="col-md-12">
								<strong>User Name:</strong>
							</div>
							<div class="col-md-12">
								<input type="text" ng-model="name" name="name"
									class="form-control" value="" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<strong>User Profile:</strong>
							</div>
							<div class="col-md-12">
								<input type="text" ng-model="profile" name="profile"
									class="form-control" value="" />
							</div>
						</div>
						<br /> <input class="btn btn-lg btn-success btn-block"
							type="button" value="Update User" ng-click="updateUser();">
					</fieldset>
				</form>
			</div>

		</div>
		<div class="col-md-2"></div>
	</div>
</div>